doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/public/auth/styles.css")
  body
    .container
      form.login-form
        h2 Login
        .input-group
          label(for="username") Username:
          input(type="text", id="username", name="username", required)
        .input-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)
        button(type="submit") Login
    script(src="/public/auth/scripts.js")
