<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/auth.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="message signup">
      <div class="btn-wrapper">
        <button class="button" id="signup">Sign Up</button>
        <button class="button" id="login"> Login</button>
      </div>
    </div>
    <div class="form form--signup">
      <div class="form--heading">Welcome! Sign Up</div>
      <form id="bug-form" method="post" action="/auth/register">
        <label for="name">name:</label><input type="text" placeholder="Name" id="name" name="name">
        <label for="email">email:</label><input type="email" placeholder="Email" id="email" name="email">
        <label for="password">password:</label><input type="password" placeholder="Password" id="password" name="password">
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form form--login">
      <div class="form--heading">Welcome back! </div>
      <form id="bug-form" method="post" action="/auth/login">
        <label for="name">name:</label><input type="text" placeholder="name" id="name" name="name">

        <label for="password">password:</label><input type="text" placeholder="password" id="password" name="password">
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="public/js/auth.js"></script>

</body>
</html>
<!-- 


<div><label for="name">name:</label><input type="text" id="name" name="name"></div>
<div><label for="email">email:</label><input type="text" id="email" name="email"></div>
<div><label for="password">password:</label><input type="text" id="password" name="password"></div>
<div><button type="submit">Sign up</button></div> -->


<!-- <input type="text" placeholder="Name">
<input type="email" placeholder="Email">
<input type="password" placeholder="Password">
<button type="submit">Sign Up</button> -->