<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You </title>
    <link rel="stylesheet" type="text/css" href="/public/css/thanks.css">
</head>
<body>
    <header>
        <h1>Bug Tracker</h1>
    </header>
    <main>
        <section id="thank-you">
            <h2>Thank You</h2>
            <p>Your ticket has been successfully submitted.</p>
            <a href="/ticket">Return to Ticket Submission</a>
        </section>
    </main>
</body>
</html>
